*{
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

/*Styling the header*/
header {
    padding: 20px;
    border: 5px solid lightseagreen;
    background-color: white;
    border-radius: 1rem;
}
.score-page {
    font-size: 20px;
    font-weight: 900;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    box-shadow: cornflowerblue;
}

a:visited {
    color: black;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timer {
    display:flex;
    justify-content: flex-end;
    order:0;

}
main{
    display:flex;
    flex-direction: column;
}

/* Styling body*/
.container {
    margin: 30px 30px;
    border: 5px solid rgb(5, 119, 128);
    text-align: center;
    background-color: dimgray;
    color: white;
}

header {
    font-size: 40px; 
}

.questions {
    padding: 50px 10px;
    font-size: 30px;
}
.answers{

    display: flex;
    justify-content: space-around;
    text-align: center;
    align-self: center;
}

#opts {
    height: 100px;
    width: 300px;
    margin: 5px;
    outline: none;
    font-size: 20px;
    display: block;
    
}

.showAnswer{
    display: flex;
    justify-content:flex-start;
    align-self:flex-start;
    font-weight: bolder;

    border: 5px solid cornflowerblue;
    color: white;
    background-color: lightseagreen;
}


